//btn
// danger, success, info , primary, warnig, default
//btn danger
//btn danger > add-ons 

//btn danger-o, promary-o
//btn  promary-o > add-ons

//btn danger rounded
//btn danger rounded > add-ons

//media query
//btn large when MD 1300
.btn{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: .5em 1em;
    margin: .5em;
    border-radius: 5px;  

    p{
        float: left;
        vertical-align: center;
        font-size: 1em;
    }  
}

$color-list :primary danger warning success info default;
$bg-list : $primary-color $danger-color $warning-color $success-color $info-color $default-color;
$bg-list-dark : $primary-color-dark $danger-color-dark $warning-color-dark $success-color-dark $info-color-dark $default-color-dark;

@each $current-color in $color-list{
    $i : index($color-list, $current-color);

    .btn-#{$current-color}{
        border: 2px solid nth($bg-list, $i);
        background: nth($bg-list, $i);
        @if  nth($bg-list, $i) == $default-color {
            color: $font-color-default ;
        } @else {
            color : white;
        }
        box-shadow: 0 2px 15px rgba(nth($bg-list-dark, $i), .5);
    }

    .btn-#{$current-color}-o{
        border: 2px solid nth($bg-list, $i);
        background: $default-color-light;
        color: nth($bg-list, $i);

        &:hover{
            @extend .btn-#{$current-color};
        }
    }

}
    

.rounded{
    border-radius: 100px;
}