.banner{
    position: relative;
    width: 100%;
    height: 100vh;

    .carosul-item{
        float: left;
        width: 80%;
        margin: 0 10%;
        height: 80vh;
        // background: yellow;
        padding: 10px;
    }
}