.header-fix-top{
    box-sizing: border-box;
    padding: .5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    // box-shadow: 0 5px 15px rgba($default-color-dark, 0.35);
}
.nav-bar{
    float: left;
    display: block;
    box-sizing: border-box;
    font-family: $fredoke;
    // padding: .5em;
    li {
        float: left;
        position: relative;
        display: block;
        list-style: none;
        padding: 1em;

        a{
            text-decoration: none;
            color: $font-color-default-light ;
            &:hover{
                color: $primary-color;
            }
        }
        
    }
}

