@import '_variable';

*{
    margin: 0;
    padding: 0;
    font-size: 1em;
    box-sizing: border-box;

}
body {
    background: $default-color-light;
    h1 {
        margin: 10px;
        color: $danger-color;
    }
}

.clearfix{
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 100%;
    display: block;
    padding: 3em;
}

@import '_navigation';
// @import '_grid';
// @import '_alert';
// @import '_modal';
@import '_button';
@import '_carosul';