@import '_variable';

*{
    margin: 0;
    padding: 0;
}
body {
    background: $base-color;
    h1 {
        margin: 10px;
        color: red;
    }
}
@import '_grid';
@import '_alert';
@import '_navigation';
@import '_modal';
@import '_button';