<!--modal danger-->
<div class="modal">
        <!--main-modal for content the modal-->
       <div class="main-modal modal-md modal-danger">
           <!--modal header-->
           <div class="modal-header ">
               <!--title modal-->
               <div class="modal-title fredoke">
                   <span class="add-ons">
                       <i class="material-icons">delete</i>
                   </span>  
                   <p>Delete this item ?</p>
               </div>
               <!--close button top right-->
               <button class="btn-close">x</button>
           </div>

           <!--modal body for content data-->
           <div class="modal-body open-sans">

               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorem, excepturi nostrum voluptas aspernatur omnis mollitia nesciunt pariatur. Sint repudiandae, porro delectus magnam sequi voluptatibus aperiam quos a sunt est.
           </div>

           <!--modal footer for bbutton-->
           <div class="modal-footer fredoke">
               <button class="btn btn-default rounded btn-confirm">
                   cancel
               </button>
               <button class="btn btn-danger rounded btn-confirm">
                   yes, delete
               </button>
           </div>
       </div>
    </div>
<!--end modal danger-->